# Comment
# 
#     Detector		PvBase
#
# [ Detector>0 : DetInfo::Detector 
#   Detector<0 : BldInfo::Type ]
#
        -3      XPP:IOC:USERPV:SB1:IPM
        15      XPP:IOC:USERPV:MON:PIM
        16      XPP:IOC:USERPV:SB2:IPM
        17      XPP:IOC:USERPV:SB3:IPM
        18      XPP:IOC:USERPV:SB3:PIM
        19      XPP:IOC:USERPV:SB4:PIM
